


@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


.recursos{
    padding-top: 100px;
    padding-bottom: 100px;
}

html {
    scroll-behavior: smooth;
    font-family: 'Abel', sans-serif;
}



header h2{
    color: rgb(138, 138, 138);
    font-weight: 400;
}

.icone{
    color: white;
}

.navbar-topo{
    background: rgb(0, 0, 0) ;
}



#nav-principal a {
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding-left: 50px;
    position: relative;
    text-align: center;
}

#nav-principal a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #e00000;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

#nav-principal a:hover::after {
    width: 100%;
}



#recursos{
    background: rgb(0, 0, 0);
    color: white;
    border-bottom: 5px solid rgba(68, 0, 255, 0.322);
    
}

.card-titulo h1{
    color: rgb(255, 255, 255);
    padding-top: 20px;
    overflow-y: hidden;
    margin-left: 50px;
    font-family: 'Abel', sans-serif;
}

.card-titulo p{
    font-size: 30px;
    margin-left: 67px;
    overflow-y: hidden;
    font-family: 'Abel', sans-serif;
}

.card-titulo span{
    color: rgb(133, 185, 201);
    font-size: 20px;
}

.btn-recursos{
    width: 200px;
    background-image: linear-gradient(45deg,rgba(17, 0, 255, 0.486),#e0000069);
    margin-top: 5px;
    transition-duration: 1s;
}

.btn-recursos:hover{
    background-image: linear-gradient(45deg,rgb(17, 0, 255),#e00000);
    transition-duration: 2s;

}

.box-img{
    margin-left: 80px;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-image: url(img/avatarpng.png);
    background-size: cover;
    transition: background-image 1s ease-in-out;
}

.box-img:hover{
    background-image: url(img/avatar2.png);
    transition: background-image 1s;
    
}

.box-img:not(:hover) {
    transition: background-image 1s ease-in-out;
    background-image: url(img/avatarpng.png);
  }



.box-content h1{
    padding-top: 10px;
    font-size: 40px;
    overflow-y: hidden;
}



.card-apresentation{
    padding-top: 20px;
}

.card-apresentation h2{
    border-top: solid 1px rgb(172, 51, 51);
    font-size: 35px;
    padding-top: 40px;
    padding-bottom:30px;
    font-family: 'Abel', sans-serif;
}

.card-apresentation p{
    font-size: 20px;
}


#projetos{
    padding-top: 60px;
}

#projetos h1{
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    font-size: 44px;
}

.navbar-brand i{
    color: white;
    font-size: 20px;
}


.skills{
    overflow-y: hidden;
    padding-bottom: 50px;
    padding-top: 100px;
}

.skills h1{
    font-size: 44px;
    font-weight: bold;
    padding-top: 40px;
    overflow-y: hidden;
    padding-bottom: 40px;
    font-family: 'Abel', sans-serif;

}

.skills i {
    font-size: 70px;
    padding-left: 20px;
    padding-right: 10px;

    
}

.skills .fa-html5:hover{
    transition: 0.5s;
    cursor: pointer;
    transform: scale(1.2);
    overflow-y: hidden;
    color: rgb(255, 30, 0);
}


.skills .fa-css3:hover{
    transition: 0.5s;
    cursor: pointer;
    transform: scale(1.2);
    overflow-y: hidden;
    color: rgb(0, 89, 255);
}

.skills .fa-square-js:hover{
    transition: 0.5s;
    cursor: pointer;
    transform: scale(1.2);
    overflow-y: hidden;
    color: rgb(255, 230, 0);
}

.skills .fa-bootstrap:hover{
    transition: 0.5s;
    cursor: pointer;
    transform: scale(1.2);
    overflow-y: hidden;
    color: rgb(119, 0, 255);
}



footer{
    background: rgba(5, 5, 41, 0.774);
    height: 100px;
    text-align: center;
    overflow-y: hidden;
}

footer p{
    color: white;
}


@media (max-width:575.98px){
    .btn-recursos{
        margin-bottom: 10px;
        margin-left: 80px;
    }
    
    .conteudo-recursos{
        display: block;
    }

    .card-titulo span{
        padding-left: 60px;
    }
}

    



@media (min-width: 576px) and (max-width:767.98px){
    
    .btn-recursos{
        margin-bottom: 10px;
    }
    
    .conteudo-recursos{
        display: block;
    }

    .card-titulo{
        padding-left: 70px;
    }
    
}





@media (min-width: 768px) and (max-width:991.98px) { 
    

    .card-titulo span{
        margin-left: 30px;
    }
    .btn-recursos{
        margin-bottom: 10px;
        margin-left: 50px;
    }

   

}






@media (min-width:992px) and (max-width: 1199.98px) { 
    
    

}


@media (min-width:1200px) {
        

 }